.start-screen {
  background-color: RGB(188 191 194);
  height: 100vh;
  width: 100vw;
  max-width: 100%;

  span {
    display: flex;
    justify-content: center;
    padding-top: 6vh;
    font-size: 5vw;
    color: rgba(0, 0, 0, 0.5);
  }
}

.coverContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45vh;
}

.cover {
  position: absolute;
  max-width: 680px;
  width: 70vw;
  aspect-ratio: 1/1;
}

.playButton {
  opacity: 0.05;
  cursor: pointer;
  transition: 500ms ease-in-out;
  &:hover {
    opacity: 1;
  }
}
