<div class="scroll-vertical-container">
  <app-player
    (click)="editPlayer(i)"
    *ngFor="let player of game.players; let i = index"
    [playerActive]="i == game.currentPlayer"
    [image]="game.playerImages[i]"
    [name]="player"
    style="top: 120px"
  ></app-player>
</div>

<div class="scroll-horizontal-container">
  <app-player-mobile
    (click)="editPlayer(i)"
    *ngFor="let player of game.players; let i = index"
    [playerActive]="i == game.currentPlayer"
    [image]="game.playerImages[i]"
    [name]="player"
    style="top: 120px"
  ></app-player-mobile>
</div>

<div *ngIf="gameOver" class="gameOver">
  <img src="./assets/img/gameOver.jpg" />
</div>

<img src="./assets/img/cards/{{ game.stack[game.stack.length - 1] }}.png" style="display:none" />


<div *ngIf="!gameOver" class="field">
  <div class="card-stack">
    <img
      *ngFor="let c of [0, 1, 2, 3]; let i = index"
      [ngStyle]="{ 'right.px': i * 5 }"
      src="assets/img/cards/card_cover.png"
    />
    <img
      (click)="takeCard()"
      class="top-card"
      style="right: 25px"
      src="./assets/img/cards/card_cover.png"
    />
    <img
      *ngFor="let card of game.playedCards"
      class="played-card"
      src="./assets/img/cards/{{ card }}.png"
    />

    <img
      (click)="takeCard()"
      *ngIf="game.pickCardAnimation"
      class="pick-card"
      style="right: 25px"
      src="./assets/img/cards/{{ game.currentCard }}.png"
    />
  </div>
</div>
<app-game-info
  *ngIf="!gameOver"
  [card]="game.currentCard"
  class="pin-bottom"
></app-game-info>
<button
  *ngIf="!gameOver"
  [disabled]="game.players.length == 10"
  mat-fab
  color="primary"
  class="btn-add"
  (click)="openDialog()"
>
  <mat-icon>add</mat-icon>
</button>
